<div class="container p-0 mt-4">
  <div style="padding-bottom: 20px;">
    <a href="/">Bấm vào đây để về Home</a>
    <br>
    <a href="/form">Bấm vào đây để vào Form</a>
  </div>

  <h1>Danh sách xe vào</h1>
  <div class="row g-2">
    {{#each carIns}}
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="max-height: 1200px; min-height:1000px">
        <img src="data:image/jpeg;base64,{{imageToString this.imageInFirst}}" style=" width:100%;object-fit:contain"
          class="card-img-top" alt="">
        <img src="data:image/jpeg;base64,{{imageToString this.imageInSecond}}" style=" width:100%;object-fit:contain"
          class="card-img-top" alt="">
        <img src="data:image/jpeg;base64,{{imageToString this.imageCarNumberIn}}" style=" width:100%;object-fit:contain"
          class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Biển số xe: {{this.carNumberIn}}</h5>
          <h5 class="card-title">Thời gian vào: {{this.timeIn}}</h5>
        </div>
        <button class="btn btn-danger delete-button" data-id="{{this._id}}" data-type="carin">Xóa</button>
      </div>
    </div>
    {{else}}
    <p>Không có xe nào.</p>
    {{/each}}
    <form name="delete-car" method="POST"></form>
  </div>

  <h1>Danh sách xe ra</h1>
  <div class="row g-2">
    {{#each carOuts}}
    <div class="col-lg-4 col-sm-6">
      <div class="card" style="height: 100%; ">
        <img src="data:image/jpeg;base64,{{imageToString this.imageOutFirst}}" style=" width:100%;object-fit:contain"
          class="card-img-top" alt="">
        <img src="data:image/jpeg;base64,{{imageToString this.imageOutSecond}}" style=" width:100%;object-fit:contain"
          class="card-img-top" alt="">
        <img src="data:image/jpeg;base64,{{imageToString this.imageCarNumberOut}}"
          style=" width:100%;object-fit:contain" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Biển số xe: {{this.carNumberOut}}</h5>
          <h5 class="card-title">Thời gian ra: {{this.timeOut}}</h5>
        </div>
        <button class="btn btn-danger delete-button" data-id="{{this._id}}" data-type="carout">Xóa</button>
      </div>
    </div>
    {{else}}
    <p>Không có xe nào.</p>
    {{/each}}
    <form name="delete-car" method="POST"></form>
  </div>
</div>

<script>
  const form = document.forms['delete-car']
  const deleteButton = document.querySelectorAll('.delete-button')

  deleteButton.forEach((button) => {
    button.onclick = () => {
      form.action = `/data/${button.dataset.type}/${button.dataset.id}?_method=DELETE`
      form.submit()
    }
  })
</script>