<div class="container-xxl p-0 mt-4">
  <h1>HELLO WỎLD</h1>
  <a href="/form">Bấm vào đây để vào Form</a>
  <br>
  <a href="/data">Bấm vào đây để vào Data</a>
  <br></br>
  <div class="row gx-2 dataIn" style="height: 350px;">
    <div class="col-lg-5" style="position: relative;">
      <img class="imageInFirst" src="data:image/jpeg;base64,{{#if carIn}}{{imageToString carIn.imageInFirst}}{{/if}}"
        alt="" style="height: 350px; width:100%">
    </div>
    <div class=" col-lg-5">
      <img class="imageInSecond" src="data:image/jpeg;base64,{{#if carIn}}{{imageToString carIn.imageInSecond}}{{/if}}"
        alt="" style="height: 350px; width:100%">
    </div>
    <div class=" col-lg-2">
      <img class="imageCarNumberIn"
        src="data:image/jpeg;base64,{{#if carIn}}{{imageToString carIn.imageCarNumberIn}}{{/if}}" alt=""
        style="width:100%; object-fit:cover;">
      <h5>Biển số xe: {{#if carIn}}{{carIn.carNumberIn}}{{/if}}</h5>
      <p>Metadata:</p>
    </div>
  </div>

  <div class="row gx-2 dataOut dataMatch" style="height: 80px; ">
    <h3 style="line-height: 80px;">{{#if carIn}}{{#if carOut}}{{#ifEqual carIn.carNumberIn
      carOut.carNumberOut}}Khớp{{else}}Đéo khớp{{/ifEqual}}{{/if}}{{/if}}</h3>
  </div>

  <div class="row gx-2" style="height: 350px;">
    <div class="col-lg-5">
      <img class="imageOutFirst"
        src="data:image/jpeg;base64,{{#if carOut}}{{imageToString carOut.imageOutFirst}}{{/if}}" alt=""
        style="height: 350px; width:100%">
    </div>
    <div class=" col-lg-5">
      <img class="imageOutSecond"
        src="data:image/jpeg;base64,{{#if carOut}}{{imageToString carOut.imageOutSecond}}{{/if}}" alt=""
        style="height: 350px; width:100%">
    </div>
    <div class="col-lg-2">
      <img class="imageCarNumberOut"
        src="data:image/jpeg;base64,{{#if carOut}}{{imageToString carOut.imageCarNumberOut}}{{/if}}" alt=""
        style="width:100%; object-fit:cover;">
      <h5>Biển số xe: {{#if carOut}}{{carOut.carNumberOut}}{{/if}}</h5>
      <p>Metadata:</p>
    </div>
  </div>
</div>