<div class="container-xxl p-0 mt-4">
  <h1>HELLO WỎLD</h1>
  <a href="/form">Bấm vào đây để vào Form</a>
  <br>
  <a href="/data">Bấm vào đây để vào Data</a>
  <br></br>
  <div class="row gx-2 data " style="height: 350px;">
    <div class="col-lg-5" style="position: relative;">
      <video class="video" style="height: 350px; width: 100%; object-fit: cover" controls>
        <source src="/video/test.MOV" type="video/mp4">
      </video>
    </div>
    <div class=" col-lg-5">
      <img class="imageCapture" style="height: 350px; width:100%" src="{{#if carIn}}{{carIn.path}}{{/if}}"></img>
    </div>
    <div class="col-lg-2" style="display: flex; flex-direction:column; height:350px">
      <div style="flex: 1;">
        <img class="imageCar imageCarNumberIn"
          src="data:image/jpeg;base64,{{#if carIn}}{{imageToString carIn.imageCarNumberIn}}{{/if}}" alt=""
          style="width:100%; object-fit:cover;">
        <h5>Biển số xe: {{#if carIn}}{{carIn.carNumberIn}}{{/if}}</h5>
        <div>Metadata:

        </div>
      </div>
      <button style="width: 100%; " type="button" class="btn btn-primary captureBtn" data-button="carin">Chụp</button>
    </div>
  </div>

  <div class="row gx-2  dataMatch" style="height: 80px; ">
    <h3 style="line-height: 80px;">{{#if carIn}}{{#if carOut}}{{#ifEqual carIn.carNumberIn
      carOut.carNumberOut}}Khớp{{else}}Đéo khớp{{/ifEqual}}{{/if}}{{/if}}</h3>
  </div>

  <div class="row gx-2 data" style="height: 350px;">
    <div class="col-lg-5" style="position: relative;">
      <video class="video" style="height: 350px; width: 100%;object-fit: cover" controls>
        <source src="/video/test.MOV" type="video/mp4">
      </video>
    </div>
    <div class=" col-lg-5">
      <img class="imageCapture" style="height: 350px; width:100%" src="{{#if carOut}}{{carOut.path}}{{/if}}"></img>
    </div>
    <div class="col-lg-2" style="display: flex; flex-direction:column; height:350px">
      <div style="flex: 1;">
        <img class="imageCar imageCarNumberOut"
          src="data:image/jpeg;base64,{{#if carOut}}{{imageToString carOut.imageCarNumberOut}}{{/if}}" alt=""
          style="width:100%; object-fit:cover;">
        <h5>Biển số xe: {{#if carOut}}{{carOut.carNumberOut}}{{/if}}</h5>
        <div>Metadata:

        </div>
      </div>
      <button style="width: 100%; " type="button" class="btn btn-primary captureBtn" data-button="carout">Chụp</button>

    </div>
  </div>
</div>
<script>
  const captureBtns = document.querySelectorAll('.captureBtn');
  const dataElements = document.querySelectorAll('.data');

  function uploadImage(formData, type) {
    const xhr = new XMLHttpRequest();
    xhr.open("POST", `/capture/${type}`);
    xhr.onreadystatechange = function () {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          console.log(xhr.responseText);
        } else {
          console.error("Lỗi khi tải hình ảnh.");
        }
      }
    };
    xhr.send(formData);
  }

  const dataChilds = Array.from(dataElements).map(dataElement => {
    return {
      video: dataElement.getElementsByClassName('video')[0],
      imageCapture: dataElement.getElementsByClassName('imageCapture')[0]
    }
  });

  captureBtns.forEach(captureBtn => {
    captureBtn.onclick = function () {
      const type = captureBtn.dataset.button;
      const dataChild = type === 'carin' ? dataChilds[0] : dataChilds[1];
      const video = dataChild.video;
      const imageCapture = dataChild.imageCapture;
      const canvas = document.createElement('canvas');
      canvas.width = video.videoWidth;
      canvas.height = video.videoHeight;
      const context = canvas.getContext('2d');
      context.drawImage(video, 0, 0, canvas.width, canvas.height);
      const imageData = canvas.toDataURL('image/jpeg');

      imageCapture.src = imageData;

      canvas.toBlob((blob) => {
        const formData = new FormData();
        formData.append("screenshot", blob, "screenshot.png");
        uploadImage(formData, type);
      }, "image/png");

    }
  });

</script>